.newsletter {
  background: var(--background-secondary-color);

  &__inner {
    background: url('/img/newsletter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 2000px rgba(29, 58, 160, 0.9);
    border-radius: 10px;

    @media (max-width: 1300px) {
      margin: 0 20px;
    }

    @media (max-width: 600px) {
      margin: 0 10px;
    }
  }

  &__wrap {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 76px;
    padding-bottom: 106px;

    @media (max-width: 1000px) {
      padding: 50px 0;
      max-width: 664px;
    }

    @media (max-width: 768px) {
      padding: 32px 0 43px 0;
    }

    @media (max-width: 600px) {
      padding: 25px 0;
    }
  }

  &__logo {
    margin-bottom: 53px;

    @media (max-width: 1000px) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 42px;
    color: var(--text-color);
    margin-bottom: 26px;

    @media (max-width: 1000px) {
      font-size: 35px;
      margin-bottom: 16px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
      margin-bottom: 21px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    color: var(--text-color);
    margin-bottom: 34px;

    @media (max-width: 1000px) {
      font-size: 17px;
      margin-bottom: 16px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
      margin-bottom: 29px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;

    @media (max-width: 1000px) {
      gap: 25px;
    }

    @media (max-width: 600px) {
      gap: 20px;
      align-items: center;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
      max-width: 284px;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.665;
    color: var(--background-color);
    padding: 22px 27px;
    border-radius: 10px;
    background: var(--text-color);
    width: 100%;

    @media (max-width: 1000px) {
      font-size: 15px;
      padding: 19px 27px;
    }

    @media (max-width: 600px) {
      text-align: center;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 17px;
      line-height: 1.665;
      color: var(--background-color);
      opacity: 0.6;
    }
  }

  &__policy {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    color: var(--text-color);
    cursor: pointer;

    @media (max-width: 600px) {
      font-size: 14px;
    }

    a {
      color: var(--accent-color);
      text-decoration: underline;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__checkbox {
    & + label {
      position: relative;
      padding-left: 30px;
      height: 17px;
      display: flex;
      align-items: center;
      color: #000;
      cursor: pointer;
      user-select: none;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 17px;
        height: 17px;
        border: 1px solid var(--accent-color);
        border-radius: 2px;

        @media (max-width: 600px) {
          top: -10px;
        }
      }
    }
    &:checked + label::before {
      background-image: url('/svg/checked.svg');
      background-size: cover;
      border: none;
    }
  }
}
