.input {
  font-size: 17px;
  line-height: 1.6;
  color: var(--text-color);
  background: var(--background-color);
  border-radius: 10px;
  padding: 20px 26px;
  width: 100%;

  &::placeholder {
    font-size: 17px;
    line-height: 1.6;
    color: var(--text-color);
    opacity: 0.6;
  }
}
