.categories {
  display: flex;
  gap: 42px;
  li {
    color: var(--text-color);
    opacity: 0.35;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }
}


