.rating {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  @media (max-width: 1000px) {
    gap: 4px;
   }

  @media (max-width: 768px) {
   gap: 2px;
  }

  &__btn {
    border-radius: 10px;
    background: #1b2133;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    @media (max-width: 1000px) {
      width: 39px;
      height: 39px;

      svg {
        height: 17px;
        width: 17px;
      }
    }

    &--is-voted {
      path {
        fill: var(--accent-color);
      }
    }
  }

  &__counter {
    color: var(--text-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 1000px) {
      font-size: 11px;
    }

    @media (max-width: 768px) {
      font-size: 9px;
    }
  }
}
