.movie {
  width: 340px;
  min-height: 520px;
  position: relative;

  &__img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 340px;
    height: 463px;

    position: relative;

    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__rating {
    position: absolute;
    top: 12px;
    right: 12px;

    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 5px;
    background: #89cb36;
    padding: 5px 13px;
  }

  &__title {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 4px;
  }

  &__genres {
    color: var(--accent-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.overlay {
  border-radius: 10px;
  background: rgba(54, 87, 203, 0.65);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &__button {
    color: #3657cb;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66;
    text-decoration: none;

    border-radius: 10px;
    background: var(--text-color);
    box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    min-width: 224px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
