.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 23px;

  @media (max-width: 1000px) {
    padding-top: 15px;
  }

  @media (max-width: 768px) {
    padding-top: 17px;
  }

  @media (max-width: 600px) {
    padding-top: 11px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__wrap-logo {
    justify-self: center;
  }

  &__inner-mobile {
    display: none;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__top-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__btn-login {
    justify-self: end;
    align-self: start;
  }

  &__wrap-btns {
    display: flex;
    gap: 4px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text-color);
  width: 55px;
  height: 52px;
  border-radius: 10px;
  cursor: pointer;

  transition: box-shadow 0.3s ease-out;

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
  }

  @media (max-width: 1000px) {
    width: 43px;
    height: 41px;
    img {
      width: 12px;
      height: 12px;
    }
  }

  @media (max-width: 768px) {
    border-radius: 5px;
  }

  @media (max-width: 600px) {
    width: 28px;
    height: 27px;
    img {
      width: 11px;
      height: 11px;
    }
  }
}

.menu-button {
  display: none;
  @media (max-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color);
    width: 28px;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
  }
}
