.layout {
  display: flex;
  align-items: center;
  min-height: 100vh;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  &__img {
    height: 115%;
    width: 115%;

    position: absolute;
    left: -10%;
    top: -10%;

    background: linear-gradient(0deg, rgba(29, 58, 160, 0.7) 0%, rgba(0, 0, 0, 0) 57.82%),
      url('/img/auth-bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__left {
    position: relative;
    min-height: 100vh;
    align-self: stretch;
    width: 45%;
    overflow: hidden;
    border-right: 2px solid #3657cb;
    background: linear-gradient(0deg, rgba(29, 58, 160, 0.7) 0%, rgba(0, 0, 0, 0) 57.82%),
      url('/img/auth-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (max-width: 1000px) {
      width: 40%;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__right {
    margin: 0 auto;
    background: var(--background-secondary-color);
    border-radius: 10px;
    padding: 40px;

    @media (max-width: 1000px) {
      padding: 20px;
    }

    @media (max-width: 500px) {
      padding: 20px 10px;
    }
  }

  &__left-logo {
    position: absolute;
    top: 51px;
    left: 38px;
  }

  &__right-logo {
    display: none;

    @media (max-width: 900px) {
      display: block;
      padding-top: 30px;
      margin-bottom: 30px;
    }
  }
}
