.cinema-now {
  padding-top: 140px;
  min-height: 100vh;
  background-image: url('/img/background-img.png');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center top;

  @media (max-width: 600px) {
    padding-top: 86px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 63px;

    @media (max-width: 1300px) {
      flex-direction: column;
      gap: 15px;
      align-items: start;
      justify-content: start;

      margin-bottom: 28px;
    }

    @media (max-width: 600px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 21px;
    }
  }

  &__btn {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    border: none;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    background: transparent;
    padding: 20px 46px;

    transition: all 0.3s ease-in-out;

    &:hover {
      background: var(--text-color);
      color: var(--background-color);
    }

    @media (max-width: 1150px) {
      padding: 16px 34px;
    }

    @media (max-width: 768px) {
      padding: 11px 32px;
      font-size: 16px;
    }
  }

  &__wrap-btn {
    display: flex;
    justify-content: center;
  }
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px 22px;
  justify-items: center;
  margin-bottom: 50px;

  @media (max-width: 1150px) {
    gap: 6px 13px;
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 13px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hidden {
  @media (max-width: 600px) {
    display: none;
  }
}
