.trailers {
  padding-top: 55px;

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    @media (max-width: 1300px) {
      margin-bottom: 32px;
    }
  }
}

.trailer {
  &__video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    margin-bottom: 17px;
  }

  &__preview {
    aspect-ratio: 16/9;
    background: var(--test-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 10px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  &__wrap-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  &__wrap-left {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 100%;
  }

  &__title {
    color: var(--text-color);
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    max-width: 70%;
  }

  &__wrap-right {
    display: flex;
    gap: 8px;
  }
}

.scroll-line {
  overflow-x: auto;
  transform: rotateX(180deg);

  &__wrap {
    display: flex;
    gap: 20px;
    transform: rotateX(180deg);
    padding-top: 10px;
  }
}

.preview-trailer {
  &__img {
    position: relative;
    cursor: pointer;

    width: 342px;
    height: 245px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: var(--test-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__title {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
}

.overlay {
  border-radius: 10px;
  background: rgba(54, 87, 203, 0.65);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35px;
  }
}
