.slider {
  &__bottom-wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 55px;

    @media (max-width: 1000px) {
      gap: 16px;
      padding-top: 20px;
    }

    @media (max-width: 768px) {
      padding-top: 30px;
    }
  }

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;

    @media (max-width: 1000px) {
      img {
        width: 25px;
      }
    }
  }

  &__pagination {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: auto;

    @media (max-width: 1000px) {
      font-size: 17px;
    }
  }
}
